<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="knockoutjs" version="1.2.9.0" />
  <package id="Nancy" version="0.8.0" />
  <package id="Nancy.Bootstrappers.Ninject" version="0.8.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.8.0" />
  <package id="Nancy.Viewengines.Razor" version="0.8.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.Extensions.ChildKernel" version="2.2.0.5" />
</packages>